[flake8]
max-line-length = 97
ignore =
    E203 # black; whitespace before ':'
    W503 # black; line break before binary operator

# don't check docstrings in tests
per-file-ignores = 
    tests/*:D,PLC
