[flake8]
max-line-length = 97
ignore =
    # black; whitespace before ':'
    E203,
    # black; line break before binary operator
    W503,

# don't check docstrings in tests
per-file-ignores = 
    tests/*:D,PLC
